section.web404
	.container
		.row
			-for(i=1;i<9;i++)
				.col-md-4
					a(href="#").block-item
						.item__img
							img(src=`./assets/product/${i}.png`, alt="ITEM")
						.item__content
							.item__name
								h3 Name Product
							.item__desc
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ea error incidunt at doloremque ex voluptas, harum repellendus deleniti rerum eveniet fugiat officia accusamus sint quidem magni culpa ab tempora.